Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
WTForms==1.0.5
Werkzeug==0.9.4
argparse==1.2.1
html5lib==0.99
isodate==0.4.9
itsdangerous==0.23
lxml==3.2.4
pyparsing==1.5.7
quik==0.2.2
rdfextras==0.4
rdflib==4.0.1
requests==2.1.0
simplejson==3.3.1
six==1.4.1
wsgiref==0.1.2
