{% extends "layout.html" %}
{% block header %}
<style type="text/css">
  h1, h3 {text-align: center;}
  h1 {font-family: 'Bowlby One SC', Arial; font-size: 40px;}
  h3 { font-weight: 500; font-size: 27px;}
  ul {list-style-type: none; text-align: center; padding: 0; }
  #map-canvas { height: 300px; width: 500px; }
</style>

{% if airports != {} %}
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbF2-Rrsdr1CldjOEcf3M3qrxTyDCWtNI&sensor=false">
</script>
<script type="text/javascript">
function initialize() {
  
  var mapOptions = {
    zoom: 6
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
  var country = "{{ country_name }}";
  var geocoder = new google.maps.Geocoder();

  geocoder.geocode( {'address' : country}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
    }
  });
  {% for airport, geo in airports.iteritems() %}
  var {{ airport }} = new google.maps.Marker({
    position: new google.maps.LatLng({{ geo["lat"] }}, {{ geo["long"] }}),
    map: map,
    title:"{{ airport }}"
  });
  {% endfor %}
  }
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endif %}

{% if tourists != {} %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawMouseoverVisualization);

  var barsVisualization;

  function drawMouseoverVisualization() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Year');
    data.addColumn('number', 'Tourists');
    data.addRows([
      {% for t in tourists|dictsort %}
      ['{{ t[0] }}', {{ t[1] }}],
      {% endfor %}
    ]);

    barsVisualization = new google.visualization.ColumnChart(document.getElementById('tourism_chart'));
    barsVisualization.draw(data, null);

    // Add our over/out handlers.
    google.visualization.events.addListener(barsVisualization, 'onmouseover', barMouseOver);
    google.visualization.events.addListener(barsVisualization, 'onmouseout', barMouseOut);
  }

  function barMouseOver(e) {
    barsVisualization.setSelection([e]);
  }

  function barMouseOut(e) {
    barsVisualization.setSelection([{'row': null, 'column': null}]);
  }

</script>
{% endif %}

{% if gdp != {} %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawMouseoverVisualization);

  var barsVisualization;

  function drawMouseoverVisualization() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Year');
    data.addColumn('number', 'GDP');
    data.addRows([
      {% for t in gdp|dictsort %}
      ['{{ t[0] }}', {{ t[1] }}],
      {% endfor %}
    ]);

    barsVisualization = new google.visualization.ColumnChart(document.getElementById('gdp_chart'));
    barsVisualization.draw(data, null);

    // Add our over/out handlers.
    google.visualization.events.addListener(barsVisualization, 'onmouseover', barMouseOver);
    google.visualization.events.addListener(barsVisualization, 'onmouseout', barMouseOut);
  }

  function barMouseOver(e) {
    barsVisualization.setSelection([e]);
  }

  function barMouseOut(e) {
    barsVisualization.setSelection([{'row': null, 'column': null}]);
  }

</script>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ country_name }}</h1>
{% if airports != {} %}
<h3>Available airports</h3>
<ul>
{% for airport, geo in airports.iteritems() %}
<li>{{ airport }}</li>
{% endfor %}
</ul>
<div id="map-canvas"></div>
{% endif %}

{% if tourists != {} %}
<h3>Tourists visiting</h3>
<div id="tourism_chart"></div>
{% endif %}

{% if gdp != {} %}
<h3>GDP indicator</h3>
<div id="gdp_chart"></div>
{% endif %}

{% endblock %}